Django
django-cors-headers
django-filter
djangorestframework
djangorestframework-simplejwt
python-decouple
drf-api-tracking
requests
Unidecode
drf-flex-fields
psycopg2-binary
pandas
django-allauth 
django-rest-authth
cryptography